---
import FloatImg from '~/components/common/FloatImg.astro';
import Logo from '~/components/Logo.astro';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links?: Array<Link>;
}

export interface Props {
  links?: Array<Links>;
  secondaryLinks?: Array<Link>;
  socialLinks?: Array<Link>;
  footNote?: string;
  theme?: string;
}

const topShape = '~/assets/images/section-top-shape.png';

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'light' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <FloatImg src={topShape} alt="App Store Image" class:list={'w-full absolute -top-1 left-0 z-10'} />
  <div
    class="dark:bg-dark absolute inset-0 pointer-events-none"
    aria-hidden="true"
    style="background-color: #00225D!important;"
  >
  </div>
  <div class="relative max-w-7xl mx-auto px-10 sm:px-6 dark:text-slate-300">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 gap-y-8 sm:gap-8 py-8 md:pt-12">
      <div class="">
        <div class="w-1/4">
          <Logo />
        </div>
        <!-- <div class="mb-2 mt-5">
          <a class="inline-block font-bold text-xl" href={getHomePermalink()}>{SITE?.name}</a>
        </div> -->
        <div class="text-sm text-muted flex gap-1 mt-10">
          <p>
            Aung Myittar Co.Ltd is a stationery writing tool manufacturing company. We established our companies in 1992
            by importing semi-finished products and doing assembly at Myanmar. We are the owner of stationery brands
            including Noti and Super Reynolds, which are well-known brands for local Burmese.
          </p>
        </div>
      </div>

      <div class="">
        <div class="font-bold">Contact Info</div>
        <div class="my-7 flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"></path>
          </svg>

          <span class="text-sm pl-3 inline-block"> No. 45, Tha Mein Bayan Rd., Tamwe Township, Yangon, Myanmar. </span>
        </div>
        <div class="my-7 flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
            ></path>
          </svg>

          <span class="text-sm pl-3 inline-block">Yangon Office : +959429971353, +959770303273, 01-554914 </span>
        </div>
        <div class="my-7 flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
            ></path>
          </svg>

          <span class="text-sm pl-3 inline-block">Mandalay Office : +959443506236, 02-2832236 </span>
        </div>
        <div class="mt-7 flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z"
            ></path>
          </svg>

          <span class="text-sm pl-3 inline-block">info@amtstationery.com</span>
        </div>
      </div>

      <!-- 
      {
        links.map(({ title, links }) => (
          <div class="col-span-6 md:col-span-3 lg:col-span-2">
            <div class="dark:text-gray-300 font-medium mb-2">{title}</div>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class="text-sm">
                {links.map(({ text, href, ariaLabel }) => (
                  <li class="mb-2">
                    <a
                      class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
                      href={href}
                      aria-label={ariaLabel}
                    >
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      } -->
    </div>
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <!-- {
        socialLinks?.length ? (
          <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                >
                  {icon && <Icon name={icon} class="w-5 h-5" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      } -->

      <!-- <div class="col-span-12 lg:col-span-4">
        <div class="w-1/3">
          <Logo />
        </div>
        <div class="mb-2 mt-5">
          <a class="inline-block font-bold text-xl" href={getHomePermalink()}>{SITE?.name}</a>
        </div>
        <div class="text-sm text-muted flex gap-1">
          <p>
            Aung Myittar Co.Ltd is a stationery writing tool manufacturing company. We established our companies in 1992
            by importing semi-finished products and doing assembly at Myanmar. We are the owner of stationery brands
            including Noti and Super Reynolds, which are well-known brands for local Burmese.
          </p>
        </div>
      </div> -->

      <div class="text-sm mr-4 dark:text-muted w-full text-center border-t border-t-gray-400 pt-5">
        <!-- <Fragment set:html={footNote} /> -->
        2024 Aung Myittar Co., Ltd. All Rights Reserved
      </div>
    </div>
  </div>
</footer>
