---
import Tabs from '~/components/functional/Tabs';
import Breadcrumb from '~/components/widgets/Breadcrumb.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Documents',
};
const catalog = '~/assets/images/catalog.png';
---

<Layout metadata={metadata}>
  <Breadcrumb>
    Home
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-4 inline"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
    </svg>
    <span class="text-gray-900">Documents</span>
  </Breadcrumb>

  <div class="w-full px-10 relative" id="popular">
    <div class="xl:w-10/12 mx-auto">
      <div class="mx-auto my-7">
        <h3 class="font-bold text-3xl text-black">Documents</h3>
      </div>

      <Tabs client:load />

      <!-- <div class="flex items-center justify-center mb-10">
        <ul class="grid w-full grid-cols-4 gap-3 min-h-screen md:min-h-96">
          <li>
            <input class="peer sr-only" type="radio" value="tab1" name="answer" id="tab1" checked />
            <label
              class="flex justify-center cursor-pointer rounded-lg bg-white py-2 px-4 hover:bg-gray-50 focus:outline-none peer-checked:bg-third-900 peer-checked:text-white peer-checked:border-third-900 transition-all duration-300 ease-in-out border border-gray-200"
              for="tab1">Correction & Adhesion</label
            >

            <div
              class="absolute ml-8 xl:ml-[10%] left-0 bg-white py-6 mt-2 transition-all duration-500 ease-in-out translate-x-40 opacity-0 invisible peer-checked:opacity-100 peer-checked:visible peer-checked:translate-x-1 w-[80%] xl:w-[78%]"
            >
              <div class="md:flex">
                <div class="max-w-sm md:w-1/4 xl:max-w-52">
                  <Img src={catalog} alt="App Store Image" class:list={'w-full object-contain rounded'} />
                </div>
                <div class="md:w-3/4 pl-0 md:pl-10">
                  <h1 class="font-bold">2024 Catalog</h1>
                  <p class="py-5">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error nam sed, reiciendis minus saepe
                    distinctio earum hic amet cupiditate perspiciatis velit id iusto modi totam libero quasi aut?
                    Libero, quo? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error nam sed, reiciendis
                    minus saepe distinctio earum hic amet cupiditate perspiciatis velit id iusto modi totam libero quasi
                    aut? Libero, quo?
                  </p>
                  <a
                    href="#"
                    class="px-4 py-3 bg-third-900 text-white hover:bg-third-600 font-bold rounded-md text-sm inline-block"
                    >Download</a
                  >
                </div>
              </div>
            </div>
          </li>
          <li>
            <input class="peer sr-only" type="radio" value="tab2" name="answer" id="tab2" />
            <label
              class="flex justify-center cursor-pointer rounded-lg bg-white py-2 px-4 hover:bg-gray-50 focus:outline-none peer-checked:bg-third-900 peer-checked:text-white peer-checked:border-third-900 transition-all duration-300 ease-in-out border border-gray-200"
              for="tab2">Office Supplies</label
            >

            <div
              class="absolute ml-8 xl:ml-[10%] left-0 bg-white py-6 mt-2 transition-all duration-500 ease-in-out translate-x-40 opacity-0 invisible peer-checked:opacity-100 peer-checked:visible peer-checked:translate-x-1 w-[80%] xl:w-[78%]"
            >
              <div class="md:flex">
                <div class="max-w-sm md:w-1/4 xl:max-w-52">
                  <Img src={catalog} alt="App Store Image" class:list={'w-full object-contain rounded'} />
                </div>
                <div class="md:w-3/4 pl-0 md:pl-10">
                  <h1 class="font-bold">2024 Catalog</h1>
                  <p class="py-5">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error nam sed, reiciendis minus saepe
                    distinctio earum hic amet cupiditate perspiciatis velit id iusto modi totam libero quasi aut?
                    Libero, quo? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error nam sed, reiciendis
                    minus saepe distinctio earum hic amet cupiditate perspiciatis velit id iusto modi totam libero quasi
                    aut? Libero, quo?
                  </p>
                  <a
                    href="#"
                    class="px-4 py-3 bg-third-900 text-white hover:bg-third-600 font-bold rounded-md text-sm inline-block"
                    >Download</a
                  >
                </div>
              </div>
            </div>
          </li>
          <li>
            <input class="peer sr-only" type="radio" value="tab3" name="answer" id="tab3" />
            <label
              class="flex justify-center cursor-pointer rounded-lg bg-white py-2 px-4 hover:bg-gray-50 focus:outline-none peer-checked:bg-third-900 peer-checked:text-white peer-checked:border-third-900 transition-all duration-300 ease-in-out border border-gray-200"
              for="tab3">Shearing & Cutting</label
            >

            <div
              class="absolute ml-8 xl:ml-[10%] left-0 bg-white py-6 mt-2 transition-all duration-500 ease-in-out translate-x-40 opacity-0 invisible peer-checked:opacity-100 peer-checked:visible peer-checked:translate-x-1 w-[80%] xl:w-[78%]"
            >
              <div class="md:flex">
                <div class="max-w-sm md:w-1/4 xl:max-w-52">
                  <Img src={catalog} alt="App Store Image" class:list={'w-full object-contain rounded'} />
                </div>
                <div class="md:w-3/4 pl-0 md:pl-10">
                  <h1 class="font-bold">2024 Catalog</h1>
                  <p class="py-5">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error nam sed, reiciendis minus saepe
                    distinctio earum hic amet cupiditate perspiciatis velit id iusto modi totam libero quasi aut?
                    Libero, quo? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error nam sed, reiciendis
                    minus saepe distinctio earum hic amet cupiditate perspiciatis velit id iusto modi totam libero quasi
                    aut? Libero, quo?
                  </p>
                  <a
                    href="#"
                    class="px-4 py-3 bg-third-900 text-white hover:bg-third-600 font-bold rounded-md text-sm inline-block"
                    >Download</a
                  >
                </div>
              </div>
            </div>
          </li>
          <li>
            <input class="peer sr-only" type="radio" value="tab4" name="answer" id="tab4" />
            <label
              class="flex justify-center cursor-pointer rounded-lg bg-white py-2 px-4 hover:bg-gray-50 focus:outline-none peer-checked:bg-third-900 peer-checked:text-white peer-checked:border-third-900 transition-all duration-300 ease-in-out border border-gray-200"
              for="tab4">Stapling & Punching</label
            >

            <div
              class="absolute ml-8 xl:ml-[10%] left-0 bg-white py-6 mt-2 transition-all duration-500 ease-in-out translate-x-40 opacity-0 invisible peer-checked:opacity-100 peer-checked:visible peer-checked:translate-x-1 w-[80%] xl:w-[78%]"
            >
              <div class="md:flex">
                <div class="max-w-sm md:w-1/4 xl:max-w-52">
                  <Img src={catalog} alt="App Store Image" class:list={'w-full object-contain rounded'} />
                </div>
                <div class="md:w-3/4 pl-0 md:pl-10">
                  <h1 class="font-bold">2024 Catalog</h1>
                  <p class="py-5">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error nam sed, reiciendis minus saepe
                    distinctio earum hic amet cupiditate perspiciatis velit id iusto modi totam libero quasi aut?
                    Libero, quo? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error nam sed, reiciendis
                    minus saepe distinctio earum hic amet cupiditate perspiciatis velit id iusto modi totam libero quasi
                    aut? Libero, quo?
                  </p>
                  <a
                    href="#"
                    class="px-4 py-3 bg-third-900 text-white hover:bg-third-600 font-bold rounded-md text-sm inline-block"
                    >Download</a
                  >
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</Layout>
