---
import Img from '~/components/common/Img.astro';
import BrandList from '~/components/functional/BrandList';
import CategoryList from '~/components/functional/CategoryList';
import Product from '~/components/functional/Product';
import Layout from '~/layouts/PageLayout.astro';
import ApiService from '~/services/ApiService';

const metadata = {
  title: 'AMT',
  ignoreTitleTemplate: true,
};

const bannerImg = '~/assets/images/slide1.png';
const authorized1 = '~/assets/images/authorized1.png';
const authorized2 = '~/assets/images/authorized2.png';
const authorized3 = '~/assets/images/authorized3.png';
const authorized4 = '~/assets/images/authorized4.png';

const cover = '/p1.jpg';
const testData = [
  { id: 1, name: 'Product 1', sku: 'TA603', coverImage: cover, isNew: false },
  { id: 1, name: 'Product 2', sku: 'TA603', coverImage: cover, isNew: true },
  { id: 1, name: 'Product 3', sku: 'TA603', coverImage: cover, isNew: false },
  { id: 1, name: 'Product 4', sku: 'TA603', coverImage: cover, isNew: false },
];

const categoryData = await ApiService.getCategories();
const categoryList = categoryData.list;

const brandData = await ApiService.getBrands();
const brands = brandData.list;
---

<Layout metadata={metadata}>
  <div class="w-full banner-area h-auto">
    <Img src={bannerImg} alt="" class:list={'w-full object-contain'} />
    <div class="top-1/3 absolute w-full hidden md:block" style="z-index: 3;">
      <div class="max-w-sm mx-auto bg-white p-8 rounded-md drop-shadow">
        <span class="text-gray-700 text-xs block bg-opacity-0 mb-1">Featured</span>
        <span class="text-gray-700 font-bold text-xl block bg-opacity-0">Ingenuity Precision Cutter Pro</span>
        <span class="text-gray-700 text-xs block bg-opacity-0 mt-2"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</span
        >

        <a
          href="https://web.archive.org/web/20230929034233/https://mmhs.mmhotelsystem.com/?a=main&hid=99&cust=Pine%20Hill%20Resort"
          target="_blank"
          class="inline-block text-center px-3 py-2.5 rounded bg-third-900 text-white font-bold text-xs mt-5 mx-auto cursor-pointer hover:bg-primary-600"
          >View Item</a
        >
      </div>
    </div>
  </div>

  <div class="w-full mt-10 px-10 relative" id="popular">
    <CategoryList categories={categoryList} client:only="react" />
  </div>

  <div class="w-full mt-10 px-10 relative" id="popular">
    <BrandList brands={brands} client:only="react" />
  </div>

  <div class="w-full mt-10 p-5 px-10 relative" id="popular">
    <div class="xl:w-10/12 mx-auto py-10">
      <div class="mx-auto mb-5">
        <h3 class="font-bold text-3xl text-black">
          Our Popular Products <a
            href="#"
            class="text-sm font-semibold hover:text-blue-800 hover:underline pt-3 text-blue-600 cursor-pointer float-right"
            >Show More</a
          >
        </h3>
      </div>
      <div class="w-full mx-auto grid lg:grid-cols-4 md:grid-cols-2 gap-4 gap-y-10 place-items-center">
        {testData.length > 0 ? testData.map((product) => <Product product={product} />) : 'No Product!'}
      </div>
    </div>
  </div>

  <div class="w-full md:flex mt-5 p-10 relative justify-center about text-white" style="background: #00225D;
;">
    <div class="flex-1 h-full flex content-center xl:max-w-md">
      <div class="h-full py-10">
        <h1 class="font-bold my-3 text-3xl">About Us</h1>
        <p class="text-sm py-3">
          Aung Myittar Co.Ltd is a stationery writing tool manufacturing company. We established our companies in 1992
          by importing semi-finished products and doing assembly at Myanmar.
        </p>
        <span class="text-sm inline-block mt-8 font-bold">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4 inline"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
          </svg>

          More</span
        >
      </div>
    </div>
    <div class="flex-1 xl:max-w-md">
      <h1 class="text-center font-semibold my-3">Authorized Distributor By:</h1>
      <div class="grid md:grid-cols-2 gap-4 xl:gap-6 py-5 place-content-around">
        <div class="h-28 xl:max-w-52 bg-white logo-box rounded-md flex flex-wrap justify-center content-center">
          <Img src={authorized1} alt="" class:list={'object-none h-24'} />
        </div>
        <div class="h-28 xl:max-w-52 bg-white logo-box rounded-md flex flex-wrap justify-center content-center">
          <Img src={authorized2} alt="" class:list={'object-none h-24'} />
        </div>
        <div class="h-28 xl:max-w-52 bg-white logo-box rounded-md flex flex-wrap justify-center content-center">
          <Img src={authorized3} alt="" class:list={'object-none h-24'} />
        </div>
        <div class="h-28 xl:max-w-52 bg-white logo-box rounded-md flex flex-wrap justify-center content-center">
          <Img src={authorized4} alt="" class:list={'object-none h-24'} />
        </div>
      </div>
    </div>
  </div>

  <style>
    .banner-area {
      /* height: 800px; */
      background-color: #ededede6;
      position: relative;
      overflow: hidden;
    }
    #popular .parent-div:hover .img-hover {
      transform: scale(1.5) rotate(10deg);
    }
    .parent-div:hover .img-hover {
      transform: scale(1.3);
    }
    /* .img-hover {
                                        transform .2s;
                                    } */
    .parent-div {
      /* width: 320px; */
      /* height: 390px; */
      overflow: hidden;
      position: relative;
    }

    .logo-box {
      /*box-shadow: 1px 1px 5px 2px #ddd;*/
    }

    .newIcon {
      width: 50px !important;
      margin-top: -20px;
    }

    .about {
      /* background-image: url('/src/assets/images/about-bg.png');
      background-repeat: no-repeat;
      background-size: cover; */
    }
  </style>
</Layout>
